<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EasySave.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EasySave.Properties.Settings>
            <setting name="CurrentCulture" serializeAs="String">
                <value>en-EN</value>
            </setting>
            <setting name="StateFolderPath" serializeAs="String">
                <value>.\\Data\\States\\</value>
            </setting>
            <setting name="StateFileName" serializeAs="String">
                <value>states.json</value>
            </setting>
            <setting name="LogsFolderPath" serializeAs="String">
                <value>.\\Data\\Logs\\</value>
            </setting>
            <setting name="LogsFileType" serializeAs="String">
                <value>json</value>
            </setting>
            <setting name="EncryptedExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>json</string>
                        <string>xml</string>
                        <string>html</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="BusinessAppName" serializeAs="String">
                <value>calc</value>
            </setting>
            <setting name="MaxKoToTransfert" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PrioritizedExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>json</string>
                        <string>xml</string>
                        <string>html</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MaxMemory" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="IsRestarting" serializeAs="String">
                <value>False</value>
            </setting>
        </EasySave.Properties.Settings>
    </userSettings>
</configuration>